<h3>Encontre o projeto ideal</h3>

<form novalidate>
  <div class="filter type">
    <label>Tipo do projeto</label>
    <mat-checkbox>Web design</mat-checkbox>
    <mat-checkbox>Lojas virtuais (E-Commerce)</mat-checkbox>
    <mat-checkbox>Aplicações desktop</mat-checkbox>
    <mat-checkbox>Aplicativos mobile</mat-checkbox>
    <mat-checkbox>Data Science</mat-checkbox>
  </div>
  <div class="filter input">
    <label>Data de publicação</label>
    <mat-form-field appearance="outline">
      <mat-label>Selecione a data de publicação</mat-label>
      <mat-select>
        <mat-option disabled>Selecione a data de publicação</mat-option>
        <mat-option value="0">Em qualquer momento</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter check-btn">
    <label>Modalidade de trabalho</label>
    <div class="btn-group">
      <mat-button-toggle-group>
        <mat-button-toggle>Todas</mat-button-toggle>
        <mat-button-toggle>P/ fixo</mat-button-toggle>
        <mat-button-toggle>P/ hora</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="filter check-btn">
    <label>Propostas recebidas</label>
    <div class="btn-group">
      <mat-button-toggle-group>
        <mat-button-toggle>Todas</mat-button-toggle>
        <mat-button-toggle>0 - 4</mat-button-toggle>
        <mat-button-toggle>+5</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="filter">
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input type="text" matInput placeholder="Lorem ipsum" />
    </mat-form-field>
  </div>
</form>
