<h3>Encontre o profissional ideal</h3>

<form novalidate>
  <div class="filter type">
    <label>Tecnologias</label>
    <mat-checkbox>HTML</mat-checkbox>
    <mat-checkbox>CSS</mat-checkbox>
    <mat-checkbox>Javascript</mat-checkbox>
    <mat-checkbox>Front-end</mat-checkbox>
    <mat-checkbox>Back-end</mat-checkbox>
  </div>
  <div class="filter input">
    <label>Avaliações</label>
    <mat-form-field appearance="outline">
      <mat-label>Selecione a avaliação</mat-label>
      <mat-select>
        <mat-option disabled>Selecione a data de publicação</mat-option>
        <mat-option value="0">Em qualquer momento</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter check-btn">
    <label>Modalidade de trabalho</label>
    <div class="btn-group">
      <mat-button-toggle-group>
        <mat-button-toggle>Todas</mat-button-toggle>
        <mat-button-toggle>P/ fixo</mat-button-toggle>
        <mat-button-toggle>P/ hora</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="filter check-btn">
    <label>Projetos que fez parte</label>
    <div class="btn-group">
      <mat-button-toggle-group>
        <mat-button-toggle>Todas</mat-button-toggle>
        <mat-button-toggle>0 - 4</mat-button-toggle>
        <mat-button-toggle>+5</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</form>
