<div class="left">
  <div class="project-data">
    <div class="name-container">
      <strong class="name">Site p/ petshop</strong>
      <p class="information-summary">
        <strong>Publicado: </strong>há 11 horas | <strong>Prazo de entrega: </strong>25/03/2022 |
        <strong>Propostas: </strong>10
      </p>
    </div>
  </div>

  <p class="infos">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dicta quibusdam perferendis et, minus, odio optio
    animi praesentium explicabo expedita officiis sed nihil exercitationem labore, excepturi deserunt quam natus quas.
    Neque autem veritatis quam natus quo temporibus, obcaecati doloribus maxime unde animi. Temporibus quod blanditiis
    nobis repellat incidunt laudantium fuga maxime velit illum nam, modi, iste dolor et corporis. Quam?
  </p>

  <div class="habilities">
    <div class="card">HTML</div>
    <div class="card">CSS</div>
    <div class="card">Javascript</div>
  </div>
</div>

<div class="right">
  <button mat-raised-button class="proposed-button">Proposta</button>

  <p class="additional-infos">
    <span>Categoria: </span> Lojas virtuais<br />
    <span>Disponibilidade requerida: </span> Meio período<br />
    <span>Do que você precisa? </span> Um site<br />
    <span>Tenho atualmente: </span> Wireframe, banco de dados e api.<br />
  </p>
</div>
