<div class="left">
  <div class="project-data">
    <div class="name-container">
      <strong class="name">{{ project.name }}</strong>
      <p class="information-summary">
        <strong>Publicado: </strong>{{ project.published }} | <strong>Prazo de entrega: </strong
        >{{ project.deliveryTime }} | <strong>Propostas: </strong>{{ project.proposals }}
      </p>
    </div>
  </div>

  <p class="infos">
    {{ project.description }}
  </p>

  <div class="habilities">
    <div class="card" *ngFor="let hability of project.habilities">{{ hability.name }}</div>
  </div>
</div>

<div class="right">
  <button mat-raised-button class="proposed-button">Proposta</button>

  <p class="additional-infos">
    <span>Categoria: </span>{{ project.category }}<br />
    <span>Disponibilidade requerida: </span>{{ project.availability }}<br />
    <span>Do que você precisa? </span>{{ project.need }}<br />
    <span>Tenho atualmente: </span>{{ project.have }}<br />
  </p>
</div>
