<div class="container">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input type="text" matInput placeholder="Lorem ipsum" />
  </mat-form-field>

  <div class="content">
    <app-filtro></app-filtro>
    <div class="freelancers">
      <app-profissional></app-profissional>
      <app-profissional></app-profissional>
      <app-profissional></app-profissional>
      <app-profissional></app-profissional>
      <app-profissional></app-profissional>
      <app-profissional></app-profissional>
    </div>
  </div>
</div>
