@import "src/theme/theme-variables";

:host {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $blue1;
}

ul {
  display: flex;
  gap: 10px;
}
