<section class="main-banner">
  <img src="assets/banner-principal.jpg" alt="Reunião" />
  <div class="container banner-text">
    <h1>
      Conecte as pessoas que precisam,<br />
      com as que sabem como fazer!
    </h1>
    <p>
      Aqui você encontra profissionais com conhecimento 100% alinhado com as tecnologias atuais do mercado. Clique nos
      botões abaixo para conhecer alguns deles, ou se você é Freelancer, clique no botão ao lado para ver os projetos
      publicados aguardando sua proosta.
    </p>
    <a routerLink="/freelancers" mat-raised-button>Encontre Freelancers</a>
    <a routerLink="/projetos" mat-raised-button>Todos os Projetos</a>
  </div>
</section>

<section class="paper-ideas">
  <div class="container">
    <h2>Hoje em dia está muito fácil tirar sua ideia do papel</h2>

    <div class="categories">
      <a routerLink="/" class="category">
        <mat-icon>devices</mat-icon>
        <span>Renovar seu site <mat-icon>navigate_next</mat-icon></span>
        <p>Atualize seu site e o converta em uma máquina de vendas.</p>
      </a>
      <a routerLink="/" class="category">
        <mat-icon>devices_other</mat-icon>
        <span>Lance seu App Mobile <mat-icon>navigate_next</mat-icon></span>
        <p>Alcance seu cliente em qualquer lugar através de um App.</p>
      </a>
      <a routerLink="/" class="category">
        <mat-icon>brush</mat-icon>
        <span>Designers Experts <mat-icon>navigate_next</mat-icon></span>
        <p>Design Web, Gráfico ou Mobile. Tudo o que você precisa para acompanhar sua marca.</p>
      </a>
      <a routerLink="/" class="category">
        <mat-icon>campaign</mat-icon>
        <span>E muito mais! <mat-icon>navigate_next</mat-icon></span>
        <p>Assessoria em negócios e financeira, jurídica administrativa, etc.</p>
      </a>
    </div>
  </div>
</section>

<section id="como-funciona" class="how-it-works">
  <div class="container">
    <h2>
      Como funciona o NinTech<br />
      <small>Comece a trabalhar como freelancer hoje mesmo</small>
    </h2>

    <div class="freela-container">
      <div class="freelancer search">
        <mat-icon>person_search</mat-icon>
        <h3>Encontre um Freelancer</h3>
        <ul>
          <li>Publique um projeto e comece a receber propostas</li>
          <li>Interaja e selecione o melhor freelancer</li>
          <li>Faça o pagamento com total segurança, a NinTech protege você</li>
          <li>O freelancer faz o trabalho</li>
          <li>Receba o projeto finalizado em tempo hábil</li>
        </ul>
      </div>
      <div class="freelancer work">
        <mat-icon>work</mat-icon>
        <h3>Trabalhe como Freelancer</h3>
        <ul>
          <li>Encontre projetos ideais para você</li>
          <li>Enviar propostas para clientes</li>
          <li>Trabalhe com liberdade e eficiência</li>
          <li>Receba seus pagamentos em tempo hábil</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="help">
  <h4>Como a NinTech pode te ajudar?</h4>

  <div class="card">
    <img src="" alt="" />
    <h5>Encontre o freelancer perfeitos</h5>
    <p>
      É a sua primeira vez na NinTech? Aprenda como publicar um trabalho e ter acesso às propostas dos freelancers para
      por suas ideias para trabalhar.
    </p>
    <a routerLink="/">Publicar projeto</a>
  </div>
  <div class="card">
    <img src="" alt="" />
    <h5>Comece a trabalhar como freelancer.</h5>
    <p>
      Você é freelancer? Na NinTech você pode escolher entre centenas de projetos para trabalhar desde qualquer lugar.
    </p>
    <a routerLink="/">Trabalhe como Freelancer</a>
  </div>

  <div class="estatistics">
    <div class="data">
      <span class="big">2.575.457</span>
      <small>Freelancers</small>
    </div>
    <div class="data">
      <span class="big">30.337</span>
      <small>Projeto Mensal</small>
    </div>
    <div class="data">
      <span class="big">33.768</span>
      <small>Usuários Online</small>
    </div>
  </div>
</section>
