<div class="left">
  <div class="personal-data">
    <div class="photo">
      <img [src]="profissional.photo ? profissional.photo : 'assets/profissional/usuario.jpg'" alt="Foto" />
    </div>
    <div class="name-container">
      <strong class="name">{{ profissional.name }}</strong>
      <span class="role">{{ profissional.role }}</span>
      <div class="rating" [ngClass]="profissional.rating">
        <svg class="first" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
          />
        </svg>
        <svg class="second" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
          />
        </svg>
        <svg class="third" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
          />
        </svg>
        <svg class="fourth" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
          />
        </svg>
        <svg class="fifth" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"
          />
        </svg>
      </div>
    </div>
  </div>

  <p class="infos">
    {{ profissional.description }}
  </p>

  <div class="habilities">
    <div class="card" *ngFor="let hability of profissional.habilities">{{ hability.name }}</div>
  </div>
</div>

<div class="right">
  <button mat-raised-button class="hire-button">Contratar</button>

  <p class="additional-infos">
    <strong>Trabalhou em: </strong>{{ profissional.workedIn }} projetos<br />
    <strong>Contratou: </strong>{{ profissional.hiredIn }} freelancers<br />
    <strong>Registrado desde: </strong>{{ profissional.registeredSince }}<br />
    <strong>Status: </strong>{{ profissional.status }}<br />
    <strong>Último acesso: </strong>{{ profissional.lastAccess }}
  </p>
</div>
